<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>@ViewData["Title"]</title> <!--This title change -->
    
    </head>
    <body>
        <div class="container">
        @RenderBody()
        <footer>
            <p>Copyright &copy; 2021 - @ViewData["Title"]</p>
        </footer>
        
    </body>
</html>