body {
    margin: 0;
    padding: 0;
    background: url(../images/university.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login{
    width: 320px;
    height: 380px;
    background:#f2f3f4;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login input{
    width: 100%;
    margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}
.login input[type="submit"]{
    border: none;
    outline: none;
    height: 20px;
    color: black;
    background: white;
}